.header{
    margin-top: 60px;
}
.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Lora', serif;
    color: #444;
}
.headerTitle-sm{
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitle-lg{
    position: absolute;
    top: 20%;
    font-size: 100px;
}
.headerImage{
    width: 100%;
    height: 420px;
    margin-top: 65px;
    object-fit: cover;
}